[submodule "Codigos/Tesis_ws/src/Sophus"]
	path = Codigos/Tesis_ws/src/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "Codigos/Tesis_ws/src/fast"]
	path = Codigos/Tesis_ws/src/fast
	url = https://github.com/uzh-rpg/fast.git
[submodule "Codigos/Tesis_ws/src/rpg_vikit"]
	path = Codigos/Tesis_ws/src/rpg_vikit
	url = https://github.com/uzh-rpg/rpg_vikit.git
[submodule "Codigos/Tesis_ws/src/rpg_svo"]
	path = Codigos/Tesis_ws/src/rpg_svo
	url = https://github.com/uzh-rpg/rpg_svo.git
